<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.label }}</th>
        <th *ngIf="hasActions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; trackBy: trackByFn">
        <td *ngFor="let column of columns">
          {{ getValue(row, column.key) }}
        </td>
        <td *ngIf="hasActions">
          <ng-container *ngIf="actionTemplate" [ngTemplateOutlet]="actionTemplate" [ngTemplateOutletContext]="{ $implicit: row }"></ng-container>
        </td>
      </tr>
      <tr *ngIf="data.length === 0">
        <td [attr.colspan]="getTotalColumns()" class="empty-message">
          {{ emptyMessage }}
        </td>
      </tr>
    </tbody>
  </table>
</div>