<div class="article-form">
  <h2>Ajouter un article</h2>
  <form (ngSubmit)="addArticle()" #articleForm="ngForm">
    <div>
      <label for="title">Titre :</label>
      <input type="text" id="title" name="title" [(ngModel)]="newArticle.title" required />
    </div>
    <div>
      <label for="content">Contenu :</label>
      <textarea id="content" name="content" [(ngModel)]="newArticle.content" required></textarea>
    </div>
    <div>
      <label for="category">Catégorie :</label>
      <select id="category" name="category" [(ngModel)]="newArticle.category" required>
        @for (category of categories; track category) {
        <option [value]="category">{{ category }}</option>
        }
      </select>
    </div>
    <button type="submit" [disabled]="articleForm.invalid">Ajouter</button>
  </form>
</div>

<div class="article-list">
  @for (article of articles; track article._id) {
  <div class="article-card">
    <div class="article-header">
      <h2>{{ article.title }}</h2>
      <span class="category-badge" [ngClass]="getCategoryClass(article.category ?? 'Autre')">
        {{ article.category || 'Autre' }}
      </span>
    </div>
    <p>{{ article.content }}</p>
    <button class="delete-btn" (click)="deleteArticle(article._id)">Supprimer</button>
  </div>
  }
</div>
