<div class="modal-overlay" *ngIf="isOpen" (click)="onOverlayClick()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header" *ngIf="title">
      <h3>{{ title }}</h3>
      <button class="modal-close" (click)="close()" *ngIf="showCloseButton" type="button" aria-label="Fermer">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 4L4 12M4 4L12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer" *ngIf="hasFooter">
      <ng-content select="[slot=footer]"></ng-content>
    </div>
  </div>
</div>